<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${producto.id != null} ? 'Editar Producto' : 'Nuevo Producto'"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1 th:text="${producto.id != null} ? 'Editar Producto' : 'Nuevo Producto'"></h1>
    <form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" placeholder="Nombre del producto" required>

        <label>Estado:</label>
        <select th:field="*{status}">
            <option th:value="true">Disponible</option>
            <option th:value="false">No disponible</option>
        </select>

        <button type="submit" class="btn">Guardar</button>
        <a href="/productos" class="btn volver">Volver</a>
    </form>
</body>
</html>