<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Crear Nuevo Rol</title>
        <link rel="stylesheet" href="/css/estilos.css" />
    </head>
    <body class="centrado">

        <div class="contenedor-formulario">
            <h2>Crear Nuevo Rol</h2>

            <form th:action="@{/admin/roles/crear}" method="post">
                <label>Nombre del rol</label>
                <input type="text" name="nombre" required minlength="3" maxlength="50" />
                <button type="submit">Guardar</button>
                <div th:if="${error}" class="error" th:text="${error}"></div>
            </form>

            <div style="margin-top: 1em;">
                <a href="/admin/roles/dashboard">
                    <button style="background-color: var(--gris); color: var(--texto);">Cancelar</button>
                </a>
            </div>
        </div>

    </body>
</html>
