<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:attr="lang=${#locale.language}">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{roles.desactivarRol}">Deactivate Role</title>
    <link rel="stylesheet" href="/css/estilos.css" />
</head>

<body>

    <header th:replace="general/navbar :: navbar"></header>

    <div class="centrado">

        <div class="contenedor-formulario">
            <h2 style="color: #cc6600;" th:text="#{roles.confirmacion-desactivarRol}">Deactivate this role?</h2>
            <p th:utext="${#messages.msg('roles.infoConfirmacion', rol.nombre)}"></p>
            <p th:text="#{roles.infoConfirmacion2}"></p>

            <form th:action="@{'/admin/roles/inactivar/' + ${rol.id}}" method="post">
                <button type="submit" style="background-color: #f9e6cc; color: #cc6600;" th:text="#{roles.si-desativar}">Yes, deactivate</button>
            </form>

            <div style="margin-top: 1em;">
                <a href="/admin/roles/dashboard">
                    <button style="background-color: var(--gris); color: var(--texto);" th:text="#{boton.cancelar}">Cancel</button>
                </a>
            </div>
        </div>
    </div>
<script src="/js/lang.js"></script>
    <!-- Script para abrir el menu del carrito como un hamburger menu -->
    <script>
        function toggleCarritoMenu() {
            let menu = document.getElementById("carritoMenu");
            menu.style.display = menu.style.display === "block" ? "none" : "block";
        }

        // Cerrar si se hace clic afuera
        document.addEventListener("click", function(e){
            const menu = document.getElementById("carritoMenu");
            const container = document.querySelector(".carrito-menu-container");
            if (!container.contains(e.target)) {
                menu.style.display = "none";
            }
        });
    </script>
</body>

</html>


