body {
    background-color: #FFE6D5;
    font-family: "Segoe UI", sans-serif;
    margin: 30px;
    color: #333;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF4CC;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btn {
    background-color: #FFA978;
    color: #333;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.btn:hover {
    background-color: #FF9460;
}

.btn.eliminar {
    background-color: #FFC1CC;
}

.btn.editar {
    background-color: #CFFFE2;
}

.btn.volver {
    background-color: #ddd;
}
