<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>

    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>
    <form th:action="@{/login}" th:object="${usuario}" method="post">
        <label>Correo:</label>
        <input type="email" th:field="*{correo}" required>

        <label>Contraseña:</label>
        <input type="password" th:field="*{contrasena}" required>

        <button type="submit">Iniciar sesión</button>
    </form>
    <p>¿No tienes cuenta? <a href="/registro">Regístrate</a></p>
</body>
</html>