<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/estilos.css">
        <title>Iniciar Sesión</title>
    </head>

    <body> 
        <header>
            <div class="navbar">
                <a class="brand" th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="Logo Mommy's ice cream" />
                    <h1>
                        <span th:text="${brandLine1} ?: 'Mommy’s'"></span>
                        <span th:text="${brandLine2} ?: 'Ice Cream'"></span>
                    </h1>
                </a>

                <nav class="nav-menu">
                    <a th:href="@{/comprar}"        th:text="#{nav.comprar}">Comprar</a>
                    <a th:href="@{/productos/listar}"       th:text="#{nav.catalogo}">Catálogo</a>
                    <a th:href="@{/sobre-nosotros}" th:text="#{nav.sobreNosotros}">Sobre Nosotros</a>
                    <a th:href="@{/contacto}"       th:text="#{nav.contacto}">Contáctenos</a>
                </nav>

                <div class="nav-actions">
                    <span th:text="${lang} ?: 'ES'">ES</span>
                    <a th:href="@{/carrito}" title="Carrito"</a>
                    <img th:src="@{/img/carrito.png}" alt="Carrito" style="width:28px;height:28px;object-fit:cover;" />
                    <a th:href="@{/login}" title="Cuenta">
                        <img th:src="@{/img/cuenta.png}" alt="Perfil" style="width:28px;height:28px;object-fit:cover;border-radius:50%;" />
                    </a>
                </div>
            </div>
        </header>
        
        <div class="centrado">
            <div class="contenedor-formulario">
                <h2>Iniciar sesión</h2>

                <div th:if="${error}">
                    <p class="error" th:text="${error}"></p>
                </div>

                <form th:action="@{/login}" th:object="${usuario}" method="post">
                    <label>Correo:</label>
                    <input type="email" th:field="*{correo}" required />

                    <label>Contraseña:</label>
                    <input type="password" th:field="*{contrasena}" required />

                    <button type="submit">Ingresar</button>
                </form>

                <p>¿No tienes cuenta? <a href="/registro">Regístrate</a></p>
            </div>
        </div>
    </body>
</html>